.serverTableDiv{
    display: inline-block;
    height: 70vh;
    width: 40%;
    overflow-y: scroll;
    border: 5px solid black;
    margin: 3%;
}

.serverTableDiv::-webkit-scrollbar {
    width: 10px;
    max-height: 2px;
}

.serverTableDiv::-webkit-scrollbar-track {
    background-color: whitesmoke;
    height: 10px;
}

.serverTableDiv::-webkit-scrollbar-thumb {
    background-color: gray;
}

.serverTable{
    width:100%;
}