#defaultProfilePic {
    width: 200px;
    height: 250px;
}
#firstRow{
    padding-left: 50px;
    text-align: center;
}
.row {
    padding-top: 30px;
    padding-bottom: 10px;
}
#tableTitle{
    text-align: center;
    text-transform: capitalize;
    font-size: 20pt;
    color: antiquewhite;
}
.tableLabel, .tableInfo{
    font-size: 14pt;
    height: 30px;
}
.tableLabel{
    text-align: center;
    background-color: rgb(36, 92, 145);
}
.tableInfo{
    background-color: darkgrey;
}
#msg{
    text-align: center;
    color: red;
}
#sidebar{
    position: fixed;
    padding-top: 100px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}
.container{
    padding-top: 100px;
}
