#sidebar {
    width:10%;
    min-width: 250px;
    max-width: 300px;
    overflow-y: scroll;
    min-height: 100vh;
    color:white;
}

hr {
    border-color: grey;
}

#ScrollbarRow {
    overflow-y: scroll;
    max-height: 200px;
}

.sidebar-header{
    color:white;
    align-content: center;
}

#onlineUserList {
    color: white;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px;
}

#sidebar ul li {
    padding: 10px;
}







/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.sidebar-bottom{
    vertical-align: bottom;
}

#change_server_title{
    align-content: space-between;
}