#sidebar {
    width:20%;
    overflow-y: scroll;
    
}

.sidebar-header {
    color: #f1f1f1;
}

hr {
    border-color: grey;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.sidebar-bottom{
    vertical-align: bottom;
}

#change_server_title{
    align-content: space-between;
}