
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 150px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar ul.components {
    padding: 20px;
}

#sidebar ul li {
    padding-top: 20px;
}

ul ul a {
    font-size: .8em !important;
    color: #ddd;
}

a {
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}

.sidebar-header{
    color:white;
}

#sidebar.active {
    margin-left: -250px;
}

.row{
    padding-left: 100px;
    padding-top: 100px;
}

#even {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #aaa;
}

#textChat {
    padding-top: 10px;
}

.btn btn-primary {
    padding: 10px;
}