
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 150px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar ul.components {
    padding: 20px;
}

#sidebar ul li {
    padding-top: 20px;
}

ul ul a {
    font-size: .8em !important;
    color: #ddd;
}

a {
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}

.sidebar-header{
    color:white;
    padding-right: 20px;
    padding-left: 20px;
}

#sidebar.active {
    margin-left: -250px;
}

#dropdown-toggle {
    text-align: right;
}

#content{
    width: 100vw;
    text-align: center;
}

#chatBox{
    width: 80vw;
    height: 70vh;
    padding: 10px;
    border: 3px solid grey;
    margin: 20px;
    background-color: whitesmoke;
    display:inline-block
}

#chatBoxInput{
    width: 80vw;
    height: 12vh;
    text-align: left;
    margin: 0vh 1vw 0vh;
    display: inline-block;
}
#chatTextArea{
    width: 87%;
    height: 100%;
    resize: none;
    vertical-align: middle
}
#chatTextSubmit{
    width: 11%;
    height: 100%;
    vertical-align: middle;
    margin: 0px 0px 0px 0.5vw;
    padding: 0px;
}